.inscription__div {
  display: flex;
  justify-content: center;
}

.formulaire {
  padding-top: 20rem;
  font-family: inter-tight;
}

.formulaire__div {
  margin: 20px 0;
}
.formulaire__label {
  display: block;
}
.formulaire__input {
  margin: 10px 0;
}