/* ici NON visible cause du display */

#chk-burger {
  display: none;
  top: 40px;
  right: 10px;
}

.navigation__bouton {
  /* position: fixed; */
  top: 10px;
  right: 10px;
  z-index: 1;
}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(173, 148, 23, 0.5)),
    url("../images/mur-de-biere.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: 0.5s ease;
  z-index: 0;
}

.navigation__ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* ici visible cause du display */
#chk-burger:checked ~ .navigation {
  transform: translateX(0);
  height: 100%;
}

/* #chk-menu::selection ~ .navigation {
  transform: translateX(0);
  height: 0;
} */

.navigation a {
  display: block;
  text-decoration: none;
  color: aliceblue;
}
