* {
  box-sizing: border-box;
}

@font-face {
  font-family: "young-serif";
  src: url("../fonts/young-serif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter-tight";
  src: url("../fonts/inter-tight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.centre {
  max-width: 1100px;
  margin: 0 auto;
  /* background-color: rgba(255, 255, 255, 0.435); */
}

body {
  margin: 0 auto;
  padding: 0 auto;
}

.header__position {
  position: fixed;
  margin: 0 auto;
  padding: 0 auto;
}

header {
  margin: 0 auto;
  padding: 0 auto;
  background-color: rgba(0, 0, 0, 0.405);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3rem 8.125rem 0.75rem;
  left: 0;
  padding-bottom: 30px;
  width: 100%;
}

.header__logo {
  height: 100px;
  justify-content: center;
}

.header__h1 {
  font-family: young-serif;
  transform: translate(-15%, -0%);
  justify-content: center;
  align-items: center;
}
.acceuil {
  padding-top: 25rem;
  padding-bottom: 0;
}

.acceuil__container {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.acceuil__text {
  background-color: rgba(57, 32, 32, 0.548);
  padding: 60px;
  border-radius: 55px;
  display: flex;
  flex-direction: column;
}

.div__bouton {
  display: flex;
  align-items: center;
}

.bouton__inscription {
  padding: 15px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 40px;
}

h1,
h2 {
  font-size: clamp(1rem, 10vw, 2rem);
  font-family: inter-tight;
  margin: 0;
}

.section_article,
.menu,
.inscription,
.acceuil,
.photos__videos {
  height: 150vh;
}

body > div:nth-of-type(1) {
  /* background-color: rgb(207, 81, 81); */
  background-image: url(../images/fut.jpg);
  background-size: cover;
}

body > div:nth-of-type(2) {
  background-color: rgb(42, 59, 137);
}
body > div:nth-of-type(3) {
  background-color: rgb(51, 208, 19);
}
body > div:nth-of-type(4) {
  background-color: rgb(208, 205, 11);
}
body > div:nth-of-type(5) {
  background-color: rgb(40, 13, 158);
}

/* //Footer///////////////////////////// */

.pied {
  display: flex;
  flex-wrap: wrap;
}
.pied__section {
  height: 20vh;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;
}
.pied__liste {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pied__sociaux {
  height: 5vh;
  display: flex;
  gap: 20px;
  margin: 0;
}
.pied__resume {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;
}
/*/////////////////////////////////////////////////////// */
