* {
  box-sizing: border-box;
}

.centre {
  max-width: 1100px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.435);
}

.header__position {
  position: fixed;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 3rem 8.125rem 0.75rem;
  position: absolute;
  left: 0;
  width: 100%;
}

h1,
h2 {
  margin: 0;
}
section {
  height: 100vh;
}

.hero__logo {
  height: 100px;
  justify-content: center;
}

.hero__h1 {
  justify-content: center;
  align-items: center;
}

body > div:nth-of-type(1) {
  background-color: rgb(207, 81, 81);
}
body > div:nth-of-type(2) {
  background-color: rgb(42, 59, 137);
}
body > div:nth-of-type(3) {
  background-color: rgb(51, 208, 19);
}
body > div:nth-of-type(4) {
  background-color: rgb(208, 205, 11);
}
body > div:nth-of-type(5) {
  background-color: rgb(40, 13, 158);
}
/*/////////////////////////////////////////////////////// */
