.menu {
  padding-top: 20rem;
}

table {
  border: 1px solid #aaa;
  width: 80%;
  margin: 0 auto;
  font-family: inter-tight;
}

tbody img {
  display: flex;
  object-fit: cover;
  justify-content: center;
  width: 75px;
  height: 75px;
}

tbody img:hover {
  transform: scale(1);
  width: 175px;
  height: 175px;
}

td,
th {
  border: 1px solid #aaa;
  padding: 5px;
  /* 2rem = 2 fois la taille établie */
  font-size: 1rem;
}

th {
  text-align: left;
}

thead {
  background-color: #326584;
}
tbody {
  background-color: #326584;
}

caption {
  font-size: 2rem;
}

tbody tr:nth-of-type(odd) {
  background-color: rgba(57, 32, 32, 0.548);
}
tbody tr:hover {
  background-color: #aaa;
  color: #fff;
}
